<a href="https://colab.research.google.com/github/Priyabrat845/Emerging-Trends-case-study/blob/main/Emerging_Trends_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
flavors=pd.read_excel('/content/drive/MyDrive/Almabetter/Flavour classification dataset.xlsm')

In [ ]:
flavors

     Flavor_Group  (All)
0             NaN    NaN
1      Row Labels    NaN
2            Abiu    NaN
3          Acacia    NaN
4            Akee    NaN
...           ...    ...
1426         Yuca    NaN
1427        Yucca    NaN
1428      Zambuca    NaN
1429     Zucchini    NaN
1430  Grand Total    NaN

[1431 rows x 2 columns]

In [2]:
import pandas as pd

In [4]:
Products=pd.read_excel('/content/drive/MyDrive/Almabetter/Product Launch Dataset.xlsm')

In [5]:
Products.head()

   Product id  ...                                        Positioning
0           1  ...                               Low Calorie, Natural
1           2  ...                          Convenience - Consumption
2           3  ...  100% Not from Concentrate, Convenience - Consu...
3           4  ...  100% Not from Concentrate, Convenience - Consu...
4           5  ...  100% Not from Concentrate, Convenience - Consu...

[5 rows x 7 columns]

In [6]:
Products.shape

(114689, 7)

In [9]:
Products.dtypes

Product id                     int64
Flavor                        object
Market Subcategory            object
Launch Date           datetime64[ns]
Country                       object
Region                        object
Positioning                   object
dtype: object

In [14]:
Products['Launch Date'].max()

Timestamp('2010-01-01 00:00:00')