<a href="https://colab.research.google.com/github/Priyabrat845/Emerging-Trends-case-study/blob/main/Emerging_Trends_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
flavors=pd.read_excel('/content/drive/MyDrive/Almabetter/Flavour classification dataset.xlsm')

In [3]:
flavors

     Flavor_Group  (All)
0             NaN    NaN
1      Row Labels    NaN
2            Abiu    NaN
3          Acacia    NaN
4            Akee    NaN
...           ...    ...
1426         Yuca    NaN
1427        Yucca    NaN
1428      Zambuca    NaN
1429     Zucchini    NaN
1430  Grand Total    NaN

[1431 rows x 2 columns]

In [4]:
import pandas as pd

In [5]:
Products=pd.read_excel('/content/drive/MyDrive/Almabetter/Product Launch Dataset.xlsm')

In [6]:
Products.head()

   Product id  ...                                        Positioning
0           1  ...                               Low Calorie, Natural
1           2  ...                          Convenience - Consumption
2           3  ...  100% Not from Concentrate, Convenience - Consu...
3           4  ...  100% Not from Concentrate, Convenience - Consu...
4           5  ...  100% Not from Concentrate, Convenience - Consu...

[5 rows x 7 columns]

In [7]:
Products.shape

(114689, 7)

In [8]:
Products.dtypes

Product id                     int64
Flavor                        object
Market Subcategory            object
Launch Date           datetime64[ns]
Country                       object
Region                        object
Positioning                   object
dtype: object

In [9]:
Products['Launch Date'].max()

Timestamp('2010-01-01 00:00:00')

In [10]:
Products1=Products[Products['Launch Date']>='2005-01-01']

In [11]:
Products1.head(5)

      Product id  ...                                        Positioning
13            14  ...  Nectars (25-99% juice), Convenience - Easy-to-...
7593        7594  ...      100% Reconstituted, Convenience - Consumption
7628        7629  ...                     Juice Drinks (up to 25% juice)
7636        7637  ...                                            Natural
7637        7638  ...                                                NaN

[5 rows x 7 columns]

In [13]:
Products1.shape

(82594, 7)

In [18]:
Products1['Flavor'].value_counts()

Unflavored                                                                6662
Orange, not specified                                                     2302
Orange, Not specified                                                     2268
Lemon                                                                     2052
Cola                                                                      1884
                                                                          ...
Vegetables, Not specified; Fruit, Not specified; Spices, Not specified       1
Seeds, Chai; Pineapple; Coconut                                              1
Tea, Kombucha; Grape, Not Specified                                          1
Coffee, Colombia; Chocolate Chip                                             1
Berry, Blueberry; Lime; Syrup, Not Specified                                 1
Name: Flavor, Length: 13942, dtype: int64

In [17]:
Products1['Flavor'].value_counts().nlargest(10)

Unflavored               6662
Orange, not specified    2302
Orange, Not specified    2268
Lemon                    2052
Cola                     1884
Apple, Red               1856
Mango                    1526
Orange, Not Specified    1239
Pineapple                1219
Apple, red               1130
Name: Flavor, dtype: int64

In [20]:
Products1[Products1['Flavor']=='Unflavored']['Market Subcategory'].value_counts()

Bottled Water - Unflavoured    3745
Energy Drinks                  1297
Carbonates                      794
Drink Concentrates & Mixes      275
Other Soft Drinks               250
Sports Drinks RTD               174
Juice & Juice Drinks             93
Sports Powders                   17
Bottled Water - Flavoured        11
Iced Tea                          6
Name: Market Subcategory, dtype: int64